body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

p {
    line-height: 21px;
}

header {
    width: 100%;
    margin: 0 auto;
}

.h1-header {
    padding-top: 0;
}

.button {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #F91660;
    border: 0px;
    border-radius: 25px;
    padding: 0.25rem 1.25rem;
}

.button:hover {
    background-color: #C71E56;
}

.current {
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    font-size: 32px;
    font-family: 'Orelega One', cursive;
    color: #C71E56;
    padding-top: 15px;
    padding-bottom: 8px;
    text-align: center;
}

.announcements {
    font-weight: bold;
    color: #fff;
    background-color: #F91660;
    text-align: center;
    text-transform: uppercase;
}

.hide-mobile {
    display: none;
}

.nav-container {
    background-color: #F6A6C1;
}

nav {
    margin: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li a, .hamburger {
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #941640;
    display: block;
    padding-top: 7.5px;
    padding-bottom: 2.5px;
}

a:hover {
    color: #F91660;
}

.nav-ul {
    width: 60px;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.intro {
    background-image: url(../images/banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.intro-container {
    margin: 20px 35px;
    padding: 20px 27px;
    background-color: rgba(255, 255, 255, 0.65);
}

.banner-logo {
    width: 91px;
    margin: 15px auto 0 auto;
}

.banner-button {
    margin-bottom: 16px;
    font-size: 16px;
}

/** END HEADER **/

h2 {
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
    color: #C71E56;
    font-size: 30px;
    line-height: 20px;
}

/** ADDITIONAL STYLES FOR ABOUT PAGE**/

.big-h2 {
    font-size: 35px;
    padding-top: 5%;
}

.h2-community {
    padding-top: 30%;
}

.about-container {
    margin: 12px 12px 20px 12px;
}

.about-img img {
    width: 100%;
    margin-bottom: 10px;
}

.container-about-extra {
    background-color: #F6A6C1;
    padding: 25px 12px;
}

.community {
    margin-bottom: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.resources-and-partnerships {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
}

.rnp-img, .community-img {
    line-height: 0;
}

.section-img {
    width: 100%;
}

.community-txt, .rnp-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
}

.smaller-b {
    font-size: 11px;
    align-self: flex-end;
}

/** ADDITIONAL STYLES FOR FAQ PAGE**/

.faqs-txt {
    background-color: #F6A6C1;
    padding: 30px 12px 15px 12px;
}

.faqs-txt h2 {
    color: #941640;
}

.faqs-txt p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

input {
    margin: 3px 0 8px 0;
    border-radius: 25px;
    border: 1.5px solid #C71E56;
}

.full {
    width: 100%;
}

.message {
    margin-bottom: 15px;
    height: 135px;
    width: 100%;
    border-radius: 15px;
}

form .button {
    align-self: flex-end;
}

.faqs-form {
    padding: 25px 12px 65px 12px;
}

/** END MAIN **/

footer {
    color: #fff;
    background-color: #C71E56;
    text-align: center;
    padding: 15px 12px 20px 12px;
    line-height: 27px;
}

footer a {
    color: #fff;
}

.footer-policy {
    margin: 45px auto 0 auto;
}

.footer-logo {
    width: 70px;
}

.social-media {
    text-align: end;
}

.logo-insta {
    margin-right: 20px;
}

h4 {
    font-family:'Dongle', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin: 5px auto 10px auto;
}

.policy {
    text-decoration: none;
}

.copyright {
    font-size: 10px;
    margin-top: 45px;
}

input {
    display: block;
}


      /**                               /
     /         TABLET STYLE            /
    /                               **/


@media screen and (min-width: 605px) {
 
    .hide-mobile {
        display: contents;
    }
    
    .hide-desktop {
        display: none;
    }

    .hamburger {
        display: none;
    }

    h1 {
        font-size: 48px;
        margin-top: 25px;
    }

    h2 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }
    
    .announcements  p {
        font-size: 20px;
        padding: 8px 0;
    }
    
    .button {
        font-size: 16px;
        padding: 8px 25px;
    }

    .cart {
        background-color: #F91660;
        border-radius: 50%;
        padding: 5px 17px;
    }

    .cart:hover {
        background-color: #C71E56;
    }

    .fa-shopping-cart {
        color: #fff;
    }

    .nav-ul {
        width: 100%;
    }
    
    .nav-logo {
        width: 60px;
        margin: 5px 20px;
        padding-right: 25px;
    }
    
    nav ul li a {
        font-size: 30px;
    }

    /** ADDITIONAL STYLES HOMEPAGE **/

    .intro {
        background-image: url(../images/banner-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    
    .intro-container {
        margin: 0px 40px;
        padding: 100px 0 20px 0;
        text-align: left;
        background-color: transparent;
    }

    .intro-container p {
        font-size: 18px;
        width: 60%;
    }

    .banner-button {
        font-size: 26px;
    }

    .container-button {
        text-align: right;
        margin: 0px 40px;
    }

    .h1-header {
        font-size: 80px;
        margin: 0;
        text-align: left;
    }

    /** ADDITIONAL STYLES ABOUT **/

    .about-container {
        margin: 35px 40px 40px 40px;
    }

    .container-about-extra {
        padding: 20px 40px;
    }

    .community-txt, .rnp-txt {
        text-align: left;
        width: 1600px;
    }

    .big-h2 {
        font-size: 42px;
        line-height: 30px;
    }

    .h2-community {
        padding-top: 5%;
    }

    .about-img img {
        float: left;
        width: 45%;
        margin: 0 20px 12.5px 0;
    }
    /** ADDITIONAL STYLES FAQS **/

    .faqs-txt {
        padding: 30px 40px 30px 40px;
    }
    
    .faqs-txt p {
        margin-bottom: 20px;
    }
    
    form {
        margin-top: 45px;
    }
    
    label {
        font-weight: bold;
    }
    
    input {
        height: 37px;
        margin: 3px 0 8px 0;
        border-radius: 25px;
        border: 1.5px solid #C71E56;
    }
    
    .full {
        width: 100%;
    }
    
    .message {
        height: 256px;
        width: 100%;
    }
    
    .faqs-form {
        padding: 40px 40px 90px 40px;
    }

    footer {
        font-size: 16px;
        padding: 40px 40px 30px 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer-policy {
        margin: 0;
        text-align: left;
    }

    .footer-contact {
        text-align: end;
    }

}


      /**                               /
     /         DESKTOP STYLE           /
    /                               **/


    @media screen and (min-width:920px) {

        h1 {
            font-size: 58px;
        }

        h2 {
            font-size: 46px;
            line-height: 32px;
        }

        p {
            font-size: 18px;
        }

        .announcements  p {
            font-size: 26px;
            padding: 12px 0;
        }

        .button {
            font-size: 18px;
            padding: 10px 30px;
        }

        .nav-logo {
            width: 98px;
            margin: 15px 40px;
            padding-right: 25px;
        }

        .nav-ul {
            margin-right: 40px;
            width: 60%;
        }

        nav ul li a {
            font-size: 46px;
        }

        /**END HEADER **/

        .container-main-faq {
            padding: 0 10%;
        }

            /** ADDITIONAL STYLES HOMEPAGE **/

    .intro {
        background-image: url(../images/banner.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        width: 100%;
    }
    
    .intro-container {
        margin: 0px 8%;
        padding: 200px 0 225px 0;
        text-align: left;
        background-color: transparent;
    }

    .intro-container p {
        font-size: 26px;
        line-height: 39px;
        width: 50%;
    }

    .banner-button {
        font-size: 26px;
        border-radius: 50px;
        
    }

    .container-button {
        text-align: left;
        margin: 40px 0 0 0;
    }

    .h1-header {
        font-size: 100px;
        margin: 0;
        text-align: left;
    }

        /** ADDITIONAL STYLES ABOUT **/
        .about-container {
            margin: 0 10% 65px;
            padding-bottom: 15%;
        }

        .about-img {
            margin: 0 40px 40px 0;
        }

        .about-img img {
            max-width: 590px;
        }

        .container-about-extra {
            padding: 50px 10%;
        }

        .community-txt, .rnp-txt {
            text-align: left;
            width: 3000px;
        }

        .community-img, .rnp-img {
            width: 4000px;
        }
        
        .community {
            margin-bottom: 50px;
        }

        .big-h2 {
            font-size: 46px;
        }

        .h2-community {
            padding-top: 5%;
        }

        .about-img img {
            float: left;
            width: 45%;
            margin: 0 20px 12.5px 0;
        }
        /** ADDITIONAL STYLES FAQS **/

        .faqs-container {
            margin-bottom: 98px;
            display: flex;
            flex-direction: row;
            justify-content: space-between
        }

        .faqs-txt {
            background-color: #fff;
            padding: 30px 12px 15px 12px;
            width: 47.5%;
        }
        
        .faqs-txt h2 {
            color: #C71E56;
        }
        
        .faqs-txt p {
            margin-bottom: 20px;
        }
        
        form {
            margin-top: 45px;
        }
        
        label {
            font-size: 18px;
        }
        
        input {
            height: 43px;
            margin: 5px 0 10px 0;
        }
        
        .full {
            width: 100%;
        }
        
        .message {
            height: 297px;
            width: 100%;
        }
        
        .faqs-form {
            width: 47.5%;
            padding: 25px 12px 65px 12px;
        }

        }