body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

p {
    line-height: 21px;
}

header {
    width: 100%;
    margin: 0 auto;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #F91660;
    border: 0px;
    border-radius: 25px;
    padding: 0.5rem 1.25rem;
}

.button:hover {
    background-color: #C71E56;
}

h1 {
    font-size: 32px;
    font-family: 'Orelega One', cursive;
    color: #C71E56;
    padding-bottom: 8px;
    text-align: center;
}

.announcements {
    font-weight: bold;
    color: #fff;
    background-color: #F91660;
    text-align: center;
    text-transform: uppercase;
}

.hide-mobile {
    display: none;
}

.nav-container {
    background-color: #F6A6C1;
}

nav {
    margin: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li a, .hamburger {
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #941640;
    display: block;
    padding-top: 7.5px;
    padding-bottom: 2.5px;
}

.nav-ul {
    width: 60px;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.intro {
    /** FIX IMAGE SIZEbackground-image: url(../images/banner.jpg);
 **/
 text-align: center;
}

.intro-container {
    margin: 20px 35px;
    padding: 20px 27px;
    background-color: aqua;
}

.banner-logo {
    width: 91px;
    margin: 15px auto 0 auto;
}

.banner-button {
    margin-bottom: 16px;
    font-size: 16px;
}

/** END HEADER **/

h2 {
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
    color: #C71E56;
}

.about-container {
    margin: 12px 12px 20px 12px;
}

.container-about-extra {
    background-color: #F6A6C1;
    padding: 25px 12px;
}

.community {
    margin-bottom: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.resources-and-partnerships {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
}

.rnp-img, .community-img {
    line-height: 0;
}

/** END MAIN **/

footer {
    color: #fff;
    background-color: #C71E56;
    text-align: center;
    padding: 15px 12px 20px 12px;
    line-height: 27px;
}

footer a {
    color: #fff;
}

.footer-policy {
    margin: 45px auto 0 auto;
}

.footer-logo {
    width: 70px;
}

.social-media {
    text-align: end;
}

.logo-insta {
    margin-right: 20px;
}

h4 {
    font-family:'Dongle', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin: 5px auto 10px auto;
}

.policy {
    text-decoration: none;
}

.copyright {
    font-size: 10px;
    margin-top: 45px;
}

/**@media screen (min-width:600px) {
    
}**/